[user]
	name = YOUR_NAME
	email = YOUR_EMAIL

[core]
	editor = nvim
	autocrlf = input
	pager = delta

[init]
	defaultBranch = main

[color]
	ui = auto

[pull]
	rebase = false

[push]
	default = simple

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
